.input {
    outline-style: none; /*取消自己样式*/
    border: 0;
    border-bottom: 1px solid #3f51b5;
    width: 90%;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 5px 0;
    /*box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;*/
}
